{% extends 'adminhome.html' %}
{% block 'b1' %}
<h2 align="center"><font color="white">Change Password</font></h2>
<form method="post" action="{%url 'changepassword'%}">
    {% csrf_token %}
    <table align="center" border="3">
        <tr>
            <td>Enter User Name</td>
            <td><input type="text" name="uname" required/></td>
        </tr>
<tr>
    <td>Enter Old Password </td>
    <td><input type="text" name="opwd" required/></td>
</tr>
        <tr>
            <td>Enter New Password</td>
            <td><input typr="text" name="npwd" required/></td>
        </tr>
        <tr>
            <td align="center"><input type="submit" value="submit"></td>
            <td align="center"><input type="reset" value="Clear"</td>
        </tr>
    </table>
</form>
<div>
{% for i in messages %}
    <h4 align="center"><font color="red">{{i}}</font></h4>
    {% endfor %}
</div>
<style>
       body {
              background-image: url('https://wallpapercave.com/wp/0l0kzYB.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* Optional: Fixed background */
            /* Add other styles as needed */
        }
    </style>
<body>
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"6e520513e1a6068512c9d2e471460308","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>

</body>
{% endblock %}