{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Music Api</title>
    <link type="text/css" rel="stylesheet" href="{% static 'style.css' %}">
</head>
  {% block b1 %}
<body>


<body>
    <center>
        <!-- Apply CSS class to the heading -->
        <h2 > <font color="white">VIBE LEASHER </font></h2>
    </center>
    {% endblock %}
 <div class="navbar-header">
    <a class="navbar-brand" href="{% url 'home' %}"> <!-- Adjust the href to your home page URL -->
        <img src="https://i.pinimg.com/474x/00/d1/de/00d1de99892304bf837d8b7d685f0bee.jpg" alt="Logo">
    </a>
</div>



    <style>
    .navbar-brand img {
        border-radius: 50%;
        width: 60px; /* Adjust the size as needed */
        height: 60px; /* Adjust the size as needed */
    }
</style>

{% include 'musicnavbar.html' %}


    <style>
          body {
              background-image: url('https://wallpapercave.com/wp/0l0kzYB.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* Optional: Fixed background */
            /* Add other styles as needed */
        }
    </style>
{% include 'footer.html' %}
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"6e520513e1a6068512c9d2e471460308","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>

</body>

</html>
