
{% block b1 %}
<h2 align="center"> <font color ="red"> Packages Available </font></h2>
<table align="center" border="5">

  <thead bgcolor="white" align="center">
    <tr>
      <td>musiccode</td>
      <td>musictitle</td>
      <td>musicpackage</td>
      <td>musicdesc</td>
    </tr>
  </thead>
  <tbody>
    {% for i in placesdata %}
    <tr align="center">
      <td>{{i.musiccode}}</td>
      <td>{{i.musictitle}}</td>
      <td>{{i.musicpackage}}</td>
      <td>{{i.musicdesc}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
<style>
         body {
              background-image: url('https://wallpapercave.com/wp/0l0kzYB.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            /* Optional: Fixed background */
            /* Add other styles as needed */
        }
    </style>
<body>
<script type="text/javascript">
    (function(d, m){
        var kommunicateSettings =
            {"appId":"6e520513e1a6068512c9d2e471460308","popupWidget":true,"automaticChatOpenOnNavigation":true};
        var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
        s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
        var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
        window.kommunicate = m; m._globals = kommunicateSettings;
    })(document, window.kommunicate || {});
/* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
</script>

</body>